/* Mixin color map*/

$highlight-colour: red;
$backgroud-color: #f2e68f;
$buttonHover-color: #cfe694;

/* ~~~~~~~~~~~~ Main ~~~~~~~~~~~~ */

body {
    overflow: hidden;
    width: 100%;
    background-image: url(../images/bigBground.jpg);
}
#pageOne , #pageTwo , #pageThree {
    height: 100vh;
}
.navbar {
    position: fixed;
    width: 100%;
    font-family: 'Amatic SC', cursive;
    background-color: transparent !important;
    z-index: 1;
        li {
        text-align: right;
        margin-left: 5px;
        font-family: 'Amatic SC', cursive;
        font-size: 1.5em;
        color: black;
        font-weight: 900;
            a {
            z-index: 2;
        }
    }
}
#header  {
    display: relative;
    top: 0;
    left: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 2.0em;
    font-weight: 900;
    text-shadow:2px 2px 8px white; 
    h1:first-letter {
    color: $highlight-colour;
    font-weight: 900;
        }
        p{
        position:absolute;
        font-size: 0.6em;
        font-weight: 900;
        margin-left: 80px;
    }
}

/* ~~~~~~~~~~~~ First page ~~~~~~~~~~~~ */

#stick {
    width: 50px;
}
#imageContainer {
    display: inline-block;
    position: relative;
    text-align: center;
    color: rgb(64, 11, 124);
}
.caption {
    font-family:'IBM Plex Serif', serif;
    max-width: 400px;
    font-size: 1.2rem;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#cloud {
    margin-top: 100px;
    flex-shrink: 5;
    max-width: 500px;
    height: auto;    
}
#firsText {
    font-family:'IBM Plex Serif', serif;
    font-size: 1.0rem;
    margin-left: 50px;
        button {
        border: none;
        color: $highlight-colour;
        font-size: larger;
        background-color: transparent;
    }
}
#think {
    margin-left: 50px;
    width: 60%;
}

/* ~~~~~~~~~~~~ Secod page ~~~~~~~~~~~~ */

.game {
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    display: inline-block;
    width: 100%;
    height: 100vh; 
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
        .game p {
        margin-top: 100px;
        margin-left: 80px;
    }
}    
#next {
   width: 50px;
}
#text {
    min-height: 15px;
    text-align: center;
    font-size: 1.1em;
    margin: 10px;
    font-weight: bolder;
}
#upperTxt {
    font-size: 2.0em;
    font-family:'Permanent Marker', cursive;
}
#cheer {
    font-weight: bolder;
    text-align: center;  
}
#picture img {
    display: inline-block;
    width: 100%;
    border: 5px solid $backgroud-color;
    max-height: 400px;
    max-width: 700px;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}
#counter {
    margin-top: 20px;
    background-color: $backgroud-color;
    color:  black !important;
    opacity: 0.9;
}
#start {    
    max-width: 350px;  
    padding: 5px 5px;
    font-size: 1.2em;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin-bottom: 3px;
    color: black; 
    border: none;
    border-radius: 15px;
    background-color: $buttonHover-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        &:hover {
        background-color: $buttonHover-color;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: translateY(4px);
    }
}
#submit {
    display: none;
    text-align: right;
    background-color: #f2e68f;
    font-size: 1.2em;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin-bottom: 5px;
    color: black; 
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.7;
        &:hover {
        background-color: $buttonHover-color;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: translateY(4px);
        &:active {
        background-color: $highlight-colour;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: translateY(4px);
        }
    }
}
#first ,#second ,#third {
    display: none;
    background-color: $backgroud-color;
    font-size: 1.2em;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    color: black; 
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.7;    
        &:hover {
        background-color: $buttonHover-color;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: translateY(4px);
        }
        &:focus {
        background-color: $highlight-colour;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: translateY(4px);
    }    
}    
#containerFinal {
    display: none;
    position: relative;
    text-align: center;
    color: black;    
}
#scoreImage {
    display: none;
    width: 20%;
    height: auto;
    border: 10px solid $backgroud-color;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    opacity: 0.5;
}
.centered {
    font-size: 1.6em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#restart {
    display: none;
    background-color: $backgroud-color;
    font-size: 1.2em;
    font-weight: 900;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    color: black; 
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.7;
        &:hover {
        background-color: $buttonHover-color;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: translateY(4px);
    }
}
#starContainer{
    display: none;
    margin-top: 10px;
    justify-content: center;   
}
#mistake {
    display: none;
    margin-top: 20px;
    width: 33%;
    height: auto;
    border: 10px solid $backgroud-color;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    opacity: 0.7;
}

/* ~~~~~~~~~~~~ Third page ~~~~~~~~~~~~ */

 #myImage{
    display: inline-block;
    margin-top: 120px;  
    width: 100%;
    max-width: 500px;
    border-radius: 10px;    
}
.accordion-item {
    margin-top: 10px;
    width: 100%;
    max-width: 500px;
    font-family:'IBM Plex Serif', serif;
    font-weight: 900;
    background-color: transparent; 
}
#accordion_bar {
    background-color: transparent !important ;
    color: black;
}
#textInsideAccordion {
    font-family:'IBM Plex Serif', serif;
    padding-left: 8px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    a{
        padding: 5px;
        color :black;
    }   
}
#myWorksImageContainer {
    text-align: center;
    display: inline-block;
    margin-top: 70px;
    margin-right: 10px;
    opacity: 0.9;
    h1 {
        font-family: 'Amatic SC', cursive;
        font-weight: 600;
    }
}

@media screen and (max-width: 650px) {
    #myImage {
        margin-top: 180px;
    }
}